<div
  class="container d-flex justify-content-center align-items-center w-100 flex-column mt-2"
>
  <mat-card
    class="d-flex justify-content-center align-items-center flex-column w-100 shadow-lg"
  >
    <mat-toolbar class="bg-info text-white fw-bold">
      <span>Cursos Disponíveis</span>
    </mat-toolbar>

    @if (courses$ | async; as courses) {
    <app-courses-list
      class="w-100"
      [courses]="courses"
      (add)="onAdd()"
    ></app-courses-list>

    } @else {
    <div
      class="d-flex justify-content-center align-items-center w-100 bg-secondary bg-secondary bg-opacity-50 p-4"
    >
      <mat-spinner></mat-spinner>
    </div>
    }
  </mat-card>
</div>
