<mat-card class="container my-2 shadow-lg rounded-0">
  <mat-toolbar class="bg-primary text-white fw-bold mt-3"
    >Detalhes do Curso</mat-toolbar
  >

  <mat-card-content class="container 100 d-flex justify-content-center align-items-start flex-column my-2 p-0">
    <form [formGroup]="form" class="d-flex flex-column mx-0 p-0 w-100">
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Categoria" formControlName="category" />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="w-100 d-flex justify-content-center align-items-center">
    <button mat-raised-button class="btn btn-info text-white fw-bold mx-2" (click)="onSubmit()">Adicionar</button>
    <button mat-raised-button class="btn btn-danger text-dark fw-bold mx-2" (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
