<mat-table [dataSource]="courses">
  <ng-container matColumnDef="name">
    <mat-header-cell
      class="justify-content-center align-items-center"
      *matHeaderCellDef
    >
      <h2 class="m-0 p-0">Nome</h2>
    </mat-header-cell>
    <mat-card-header>
      <mat-cell
        *matCellDef="let curso"
        class="d-flex justify-content-center align-items-center"
      >
        <mat-card-title class="align-items-center">{{
          curso.name
        }}</mat-card-title>
      </mat-cell>
    </mat-card-header>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell
      class="justify-content-center align-items-center"
      *matHeaderCellDef
    >
      <h2 class="m-0 p-0">Categoria</h2>
    </mat-header-cell>
    <mat-cell
      *matCellDef="let curso"
      class="d-flex justify-content-center align-items-center"
    >
      <mat-card-title class="align-items-center">
        {{ curso.category }}
        <mat-icon
          aria-hidden="false"
          aria-label="Categoria do Curso"
          fontIcon="{{ curso.category | category }}"
        ></mat-icon>
      </mat-card-title>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell
      class="d-flex justify-content-center align-items-center"
      *matHeaderCellDef
    >
      <button
        mat-mini-fab
        aria-label="Adicionar um Curso"
        class="btn btn-primary d-flex justify-content-center align-items-center"
        (click)="onAdd()"
      >
        <mat-icon class="mat-18"> add </mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell
      *matCellDef="let curso"
      class="d-flex justify-content-evenly align-items-center"
    >
      <button
        mat-mini-fab
        aria-label="Editar Curso"
        class="btn btn-warning d-flex justify-content-center align-items-center"
        (click)="onEdit(curso)"
      >
        <mat-icon class="mat-18"> edit </mat-icon>
      </button>
      <button
        mat-mini-fab
        aria-label="Excluir Curso"
        class="btn btn-danger d-flex justify-content-center align-items-center"
        (click)="onDelete(curso)"
      >
        <mat-icon class="mat-18"> delete </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['name', 'category', 'actions']"
  ></mat-header-row>
  <mat-row
    *matRowDef="let curso; columns: ['name', 'category', 'actions']"
  ></mat-row>
</mat-table>
